@charset "utf-8";

/*全局*/
body{
	font-family:Helvetica,Arial,"Microsoft YaHei","微软雅黑",STXihei,"华文细黑",SimSun,"宋体",sans-serif;
	font-size:62.5%;
	
}

a:link,a:visited,a:hover,a:active{ text-decoration: none; }


.w{ width: 1000px; margin: auto; }
.w_man{ max-width: 1440px; margin: auto; }
.w_min{ min-width: 1000px; margin: auto; }

.wrap{ }


/* head */
.header{ min-width: 1000px; background:url(../images/head_bg.jpg) repeat-x 0 0; height:  87px; overflow: hidden;}
.header .logo{ display: inline-block;+display: inline;+zoom:0; float: left; }
.header .logo img{ display: block; max-height: 70px; margin: 8px 0; }
.header .m_search{ float:right; }
.header .m_nav{ float:right; }



/* 中间 */
.main{display: block;}

.sub_main{ margin: 20px auto;display: block; }
.sub_main .content{ padding: 0 0 0 220px; position: relative; overflow: hidden; min-height: 500px; }
.sub_main .content .m_page{ margin:30px auto; text-align: right; }

/* 底部 */
.footer{ }
.footer .m_friendlink{ font-size: 1.6em; line-height: 1em; color: #373636; margin: 40px auto 20px auto; }
.footer .m_nav_b{ }
.footer .copy{ padding:20px 0 20px 0; text-align: center; font-size: 1.4em; line-height: 1.4em; color: #cdcbcb;  color:#333333;}



/*
	布局
*/


/*
	元件
*/

/* 标题 */
.u_title{ position: relative; overflow: hidden; }
.u_title .txt{ float: left; display: block; height: 100%; font-size: 1em; line-height: 1em; padding:10px 10px 0 0; color: #d13306; }
.u_title .line{ display: block; overflow: hidden; border-bottom:4px solid #d13306; position: relative; bottom: 0; height: 26px; }

/* 标题2 */
.u_title2{ font-size: 3em; line-height: 2.6em; text-align: center; letter-spacing:10px; border-bottom:2px solid #d13306; }

/* 标题3 */
.u_title3{ border-bottom:2px solid #d13306; font-size: 2.6em; line-height: 1.4em; padding: 0 0 10px 0; }


/* 按钮 */
.u_btn{ display: inline-block; +display: inline; +zoom:0; padding: 10px 0; background: #d13306; border: none; font-size: 2.4em; line-height: 1.6em; color: #fff; text-align: center; cursor: pointer; }
.u_btn:hover{ background: #ba2e06; }




/*
	模块
*/

/* 导航 */
.m_nav{ padding: 14px 0; }
.m_nav .link{ float: left; display: block; border-left:1px solid #cdcbcb; border-right:1px solid #fff; font-weight: bold; }
.m_nav .link:first-child{ border-left:none; }
.m_nav .link:last-child{ border-right:none; }
.m_nav .cbr{ border-right:none; }
.m_nav .link .bg{ display: inline-block; +display: inline; +zoom: 1; background: none; color: #333333; padding: 0 6px; border-radius: 4px; font-size: 1.4em; line-height: 1.4em; margin: 0 4px; }
.m_nav .link:hover .bg,
.m_nav .hover .bg{ background: #d13306; color: #fff; }

/* 底部导航 */
.m_nav_b{ background: #d13306; height: 40px; text-align: center; }
.m_nav_b .link{ display: inline-block; +display: inline; +zoom: 1; color: #fff; font-size: 1.6em; line-height: 1em; margin: 6px 4px; }
.m_nav_b .link .bg{ display: inline-block; +display: inline; +zoom: 1; padding: 6px 10px; }
.m_nav_b .link .bg:hover{ background: #fff; color: #d13306; border-radius:4px; }

/* 导航 二级 */
.m_nav_sub{ position: absolute; left: 0; width: 198px; border: 1px solid #cdcbcb; border-radius: 4px; overflow: hidden; background: url(../images/nav_bg.jpg) no-repeat left bottom; padding: 0 0 180px 0; }
.m_nav_sub .link{ display: block; padding: 30px 30px; border-bottom: 1px solid #cdcbcb; font-size: 2em; line-height: 1em; color: #333333; }
.m_nav_sub .link:first-child{ }
.m_nav_sub .link .icon{ display: inline-block; font-size: 1.2em; line-height: 1em; margin: 0 8px 0 0; vertical-align: text-top; }
.m_nav_sub .link:hover,
.m_nav_sub .hover{ color: #fff; background: #d13306; }


/* banner */
.m_banner{ width: 100%; position: relative; overflow: hidden; background: #f8f8f7; }
.m_banner .itme{ position: absolute; left: 0; top: 0; width: 100%; z-index: 1; opacity: 0; filter: alpha(opacity=0); }
/*.m_banner .itme:first-child{ opacity: 1; filter: alpha(opacity=100); }*/
.m_banner .itme img{ display: block; width: 100%; }
.m_banner .hover{ float: none; position: relative; z-index: 2; opacity: 1; filter: alpha(opacity=100); }

/*  banner 子页 */
.m_banenr_sub{ }
.m_banenr_sub img{ display: block; width: 100%; }


/* 搜索 */
.m_search{ position: relative; font-size: 10px; margin: 12px 0 0 0;min-width: 142px; }
.m_search input{ float: left; display:block; font-size: 1.4em; line-height: 1em; border:1px solid #cdcbcb; background: none; outline: none; position: relative; left: 0;}
.m_search .input_txt{ padding: 3px 10px; width: 100px; border-radius:8px; background: #fff; z-index: 1;}
.m_search .input_txt:focus{ width: 160px; }

.m_search .hint{ position: absolute; padding: 3px 10px; left: 0; z-index: 1; display:block; font-size: 1.4em; color: #cdcbcb; }
.m_search .submit_btn{ float: left; display: block; width: 40px; text-align: center; padding: 3px 0px 3px 10px; margin: 0 0 0 -10px; border:1px solid #cdcbcb; color: #cdcbcb; background: #fff; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #e1dddd)); background:-moz-linear-gradient(top, #ffffff 5%, #e1dddd 100%); background:-webkit-linear-gradient(top, #ffffff 5%, #e1dddd 100%); background:-o-linear-gradient(top, #ffffff 5%, #e1dddd 100%); background:-ms-linear-gradient(top, #ffffff 5%, #e1dddd 100%); background:linear-gradient(to bottom, #ffffff 5%, #e1dddd 100%); filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e1dddd',GradientType=0); font-size: 16px; line-height: 1em; position: relative; }
.m_search .submit_btn:hover{ background: #fff; background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e1dddd), color-stop(1, #ffffff)); background:-moz-linear-gradient(top, #e1dddd 5%, #ffffff 100%); background:-webkit-linear-gradient(top, #e1dddd 5%, #ffffff 100%); background:-o-linear-gradient(top, #e1dddd 5%, #ffffff 100%); background:-ms-linear-gradient(top, #e1dddd 5%, #ffffff 100%); background:linear-gradient(to bottom, #e1dddd 5%, #ffffff 100%); }
.m_search .btn{ width: 100%; height: 100%; position: absolute; top: 0; left: 0; font-size: 0; border:none; cursor: pointer; }

/* 友情链接 */
.m_friendlink{ vertical-align: top; }
.m_friendlink .title{ vertical-align: top; font-size: 1em; line-height: 74px; display: inline-block; +display: inline; +zoom: 1; padding: 0 6px 0 0; }
.m_friendlink .link{ display: inline-block; +display: inline; +zoom: 1; margin: 0 10px; }
.m_friendlink .link img{ display: block; }


/* 广告 */
.m_ad{ }
.m_ad img{ display: block; }


/* 文章列表 */
.m_article{ }
.m_article .itme{ }
.m_article .link{ position: relative; display: block; font-size: 1.4em; line-height: 1em; padding: 16px 0; color: #333333; border-bottom:1px solid #cdcbcb; }
.m_article .itme .icon{ margin: 0 8px; }
.m_article .itme .time{ float: right; color: #cdcbcb; }
.m_article .itme .line{ position: absolute; bottom: -1px; height: 1px; width: 0; left: 1px; background: #d13306; }

.m_article .link:hover{ color: #d13306; }
.m_article .link:hover .line{ width: 100%; }


/* 文字详细 */
.m_article_detail{ }
.m_article_detail .u_title3{ }
.m_article_detail .cover{ display: block; width: 100%; margin:0 auto 40px auto; }


/* 案例列表 */
.m_case{ overflow: hidden; }
.m_case .itme{ width: 32%; margin: 20px 0 20px 2%; float: left; }
.m_case .itme .img{ }
.m_case .itme:first-child,
.m_case .cml{ margin-left:0; }

.m_case .itme:nth-child(3n+1){ margin-left:0; }

.m_case .itme .img_wrap{ position: relative; }
.m_case .itme .img_wrap .img{ width: 100%; display: block; }
.m_case .itme .img_wrap .float{ overflow: hidden; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; background: rgba(0,0,0,.6); font-size: 1.6em; color: #fff; height: 100%; z-index: -1; opacity: 0; filter: alpha(opacity=0); }
.m_case .itme .img_wrap .float .txt{ position: absolute; text-align: center; top: -50%; left: 50%; margin: -0.8em 0 0 -0.8em; -webkit-transition:all .6s ease-out; -moz-transition:all .6s ease-out; -ms-transition:all .6s ease-out; -o-transition:all .6s ease-out; transition:all .6s ease-out; }
.m_case .itme .img_wrap .float::before,
.m_case .itme .img_wrap .float::after{ content:''; position: absolute; top: 20px; bottom: 20px; left: 20px; right: 20px; opacity: 0; filter: alpha(opacity=0); }
.m_case .itme .img_wrap .float::before{ border-top:1px solid #fff; border-bottom:1px solid #fff; -webkit-transform:scale(0,1); -moz-transform:scale(0,1); -ms-transform:scale(0,1); -o-transform:scale(0,1); transform:scale(0,1); }
.m_case .itme .img_wrap .float::after{ border-left:1px solid #fff; border-right:1px solid #fff; -webkit-transform:scale(1,0); -moz-transform:scale(1,0); -ms-transform:scale(1,0); -o-transform:scale(1,0); transform:scale(1,0); }

.m_case .itme .title{padding: 10px 10px; background: #cdcbcb; color: #333;  }
.m_case .itme:hover .img_wrap .float{ z-index: 1; opacity: 1; filter: alpha(opacity=100); }
.m_case .itme:hover .img_wrap .float::before,
.m_case .itme:hover .img_wrap .float::after{ opacity: 1; filter: alpha(opacity=100); -webitk-transform:scale(1,1); -moz-transform:scale(1,1); -ms-transform:scale(1,1); -o-transform:scale(1,1); transform:scale(1,1); }
.m_case .itme:hover .img_wrap .float .txt{ top: 50%; }
.m_case .itme:hover .title{ background: #d13306; color: #fff;  }



/* 分页 */
.m_page{ }
.m_page .link{ display: inline-block; +display: inline; +zoom: 1; color: #cdcbcb; line-height: 1em; font-size: 1.4em; padding: 10px 14px; margin: 0 2px; background: #fff; }
.m_page .link:hover,
.m_page .hover{ display: inline-block; +display: inline; +zoom: 1; color: #fff; background: #d13306; }

/* 上下页 */
.m_prenext_article{ margin: 40px auto; }
.m_prenext_article .link{ position: relative; display: inline-block; +display: inline; +zoom: 1; color: #cdcbcb; font-size: 1.4em; line-height: 2em; /*width: 40%; */}
.m_prenext_article .line{ position: absolute; bottom: 0px; width: 0; height: 1px; background: #d13306; }
.m_prenext_article .pre{ }
.m_prenext_article .next{ float: right; }

.m_prenext_article .link:hover{ color: #d13306; }
.m_prenext_article .link:hover .line{ width: 100%; }


/* 编辑 */
.m_redact{
	font-size: 1.4em;
	line-height: 1.5em;
}
.m_redact ul{
	
}
.m_redact li{
	
}
.m_redact ol{
	
}
.m_redact p{
	text-indent: 2em;
	margin: 16px auto;
}
.m_redact img{
	display: block;
}
.m_redact i{
	font-style: italic;
}
.m_redact b{
	font-weight: bold;
}





/*
	功能
*/




/*
	状态
*/









/*
	布局
*/









/*

	全局
	
	   B色块类

	  	  主色 d13306
	 	  辅色 
    	高亮色
    	阴影色
    	点睛色
    	背景色


	   T文字类

	  T1正文字 333333
	  T2弱文字 cdcbcb
	  T3高亮字 373636


	  字体颜色 

	主标题颜色 
	副标题颜色 
	  正文颜色 
	
	  过渡颜色

	   
	   I图标类


	   L线条类
	   		正  
	   		弱 
	   	  高亮
	   	 深 灰 cdcbcb

		

	  BT按钮类



	主标题大小 
	副标题大小 
	  正文大小 14px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/


/*

布局（grid）（.g-）：
将页面分割为几个大块，通常有头部、主体、主栏、侧栏、尾部等！

模块（module）（.m-）：
通常是一个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等！

元件（unit）（.u-）：
通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等！

功能（function）（.f-）：
为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用！

皮肤（skin）（.s-）：
如果你需要把皮肤型的样式抽离出来，通常为文字色、背景色（图）、边框色等，非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类！

状态（.z-）：
为状态类样式加入前缀，统一标识，方便识别，她只能组合使用或作为后代出现（.u-ipt.z-dis{}，.m-list li.z-sel{}），具体详见命名规则的扩展相关项。


*/